body {
    background-color: #4341ec;
    color: aliceblue;
}

.menu {
    background-color: #7f0fe8 !important;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.menu a {
    color: aliceblue;
    margin-right: 10px;
    font-size: xx-large;
}

main {
    text-align: center;
}

.featured-giveaways {
    margin-top: 1em;
}

.giveaway-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giveaway-card img {
    height: 200px;
    width: 200px;
}

.giveaway-card h3 {
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #000000;
    color: aliceblue;
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 280px;
}

footer {
    background-color: #7f0fe8 !important;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}