<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareBlast - Congratulations!</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body style="background-color: #4341ec;">
	<header>
		<div style="background-color: #7f0fe8 !important; text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; padding: 10px;" class="menu">
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large;" href="/index.html/">Home</a>
		</div>
	</header>

    <main>
        <div class="container">
            <h1 class="text-center fade-in">Congratulations!</h1>
            <div class="congratulations-message fade-in">
                <h2 class="text-center">You've won the giveaway!</h2>
                <p class="text-center">Congratulations on winning the "Amazing Prize Giveaway"!</p>
                <p class="text-center">Please contact the giveaway publisher at <a href="mailto:publisher@example.com">publisher@example.com</a> to claim your prize.</p>
                <div class="text-center mt-1">
                    <a href="/index.html" class="btn">Back to Home</a>
                </div>
            </div>
        </div>
    </main>

	<footer>
		<p>&copy; 2024 ShareBlast. All rights reserved.</p>
		<p>
			<a href="{{ url_for('static', filename='TOS.html') }}">Terms of Service</a>
			<a href="{{ url_for('static', filename='privacy.html') }}">Privacy Policy</a>			
		</p>
	</footer>
</body>
</html>