<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareBlast - Create Giveaway</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body style="background-color: #4341ec;">
	<header>
		<div style="background-color: #7f0fe8 !important; text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; padding: 10px;" class="menu">
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large;" href="/ShareBlast/templates/">Home</a>
		</div>
	</header>

    <main>
        <div class="container">
            <h1 class="text-center fade-in">Create a New Giveaway</h1>
            <form id="create-giveaway-form" class="form fade-in">
                <label for="giveaway-title">Giveaway Title:</label>
                <input type="text" id="giveaway-title" name="giveaway-title" required>

                <label for="giveaway-description">Description:</label>
                <textarea id="giveaway-description" name="giveaway-description" required></textarea>

                <label for="giveaway-image">Giveaway Image:</label>
                <input type="file" id="giveaway-image" name="giveaway-image" accept="image/*" required>

                <label for="end-date">End Date:</label>
                <input type="datetime-local" id="end-date" name="end-date" required>

                <button type="submit" class="btn mt-1">Create Giveaway</button>
            </form>
        </div>
    </main>

    <footer>
        <div style="background-color: #7f0fe8 !important; text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; padding: 10px;" class="container">
            <p>&copy; 2024 ShareBlast. All rights reserved.</p>
        </div>
    </footer>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/create_giveaway.js"></script>
</body>
</html>