<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareBlast - Giveaway Leads</title>
    <link rel="stylesheet" href="/static/css/account.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('account.account') }}">My Account</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="giveaway-details">
            <h1 class="text-center">Leads for Giveaway: {{ giveaway.title }}</h1>
            <br>
            <label for="show-emails">Show only Emails:</label>
            <input type="checkbox" id="show-emails" onchange="filterLeads()">
            <br><br>
            <textarea id="leads-textarea" rows="10" cols="50">
{% for username, email in leads %}
{{ username }}, {{ email }}
{% endfor %}
            </textarea>
            <button class="copy-button" onclick="copyLeads()">Copy Leads</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 ShareBlast. All rights reserved.</p>
        <p>
            <a href="{{ url_for('static', filename='TOS.html') }}">Terms of Service</a>
            <a href="{{ url_for('static', filename='privacy.html') }}">Privacy Policy</a>            
        </p>
    </footer>

    <script>
        function copyLeads() {
            const textarea = document.getElementById('leads-textarea');
            textarea.select();
            document.execCommand('copy');
        }

        function filterLeads() {
            const checkbox = document.getElementById('show-emails');
            const showEmailsOnly = checkbox.checked;
            const textarea = document.getElementById('leads-textarea');
            
            const leads = `{% for username, email in leads %}
{{ username }}, {{ email }}
{% endfor %}`;
            const emails = `{% for username, email in leads %}
{{ email }}
{% endfor %}`;

            if (showEmailsOnly) {
                textarea.value = emails.trim();
            } else {
                textarea.value = leads.trim();
            }
        }
    </script>
</body>
</html>
