<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareBlast - Giveaway</title>
    <link rel="stylesheet" href="/static/css/account.css">
</head>
<body>

	<header>
		<nav>
		  <div>
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('account.account') }}">My Account</a>
		  </div>
		</nav>
	  </header>

	<div class="container">
		<div class="giveaway-details">
			<h1 class="text-center">{{ giveaway.title }}</h1>
			
			<img src="{{ giveaway.image_url }}" alt="Giveaway item" class="giveaway-image">
			
			<p>{{ giveaway.description }}</p>
			

			<div class="text-center mt-1">
				{% if now < giveaway.end_date %}
					<form action="{{ url_for('giveaway.enter_giveaway', giveaway_id=giveaway.id) }}" method="post">
						<button type="submit" class="btn btn-primary">Enter Giveaway</button>
					</form>
				<p>Ends on: {{ giveaway.end_date }}</p>
				{% endif %}
			</div>
			{% if giveaway.winner %}
			<p class="winner">🎉 Winner: {{ giveaway.winner.user.username }} 🎉</p>
			{% elif now > giveaway.end_date %}
			<p>This giveaway has ended. No winner was selected.</p>
			{% endif %}

			<p>Time remaining: <span id="countdown">{{ giveaway.end_date }}</span></p>
		</div>
	</div>

	<footer>
		<p>&copy; 2024 ShareBlast. All rights reserved.</p>
		<p>
			<a href="{{ url_for('static', filename='TOS.html') }}">Terms of Service</a>
			<a href="{{ url_for('static', filename='privacy.html') }}">Privacy Policy</a>			
		</p>
	</footer>

    <script src="/static/js/giveaway.js"></script>

</body>
</html>