<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareBlast - Home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body style="background-color: #4341ec;">
	<header>
		<div style="background-color: #7f0fe8 !important; text-align: center; height: 70px; display: flex; align-items: center; justify-content: center; padding: 10px;" class="menu">
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large;" href="/ShareBlast/templates/">Home</a>
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large" href="/ShareBlast/templates/login.html">Login</a>
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large" href="/ShareBlast/templates/signup_user.html">Register (User)</a>
			<a style="color: aliceblue; font-size: xx-large" href="/ShareBlast/templates/signup_publisher.html">Register (Publisher)</a>
		</div>
	</header>

    <main style="color: aliceblue; text-align: center;">
        <div">
            <h1 class="text-center fade-in">Welcome to ShareBlast</h1>
            <p class="text-center mb-1 fade-in">Create and participate in exciting giveaways!</p>
            <div class="featured-giveaways mt-1">
                <!-- Placeholder for featured giveaways -->
                <div  class="giveaway-card img">
                    <img style="height: 200px; width: 200px;" src="https://litter.catbox.moe/3echnd.png" alt="Giveaway item">
                    <h3 class="text-center">Wath are you waiting for start creating Giveaway now</h3>
					<div class="container">
					<a style="color: aliceblue; margin-right: 20px; width: 280px;" href="/ShareBlast/templates/create_giveaway.html">Create Giveaway now</a>
				</div>
                </div>
            </div>
        </div>
    </main>
</br>
</br>


    <footer>
        <div style="background-color: #7f0fe8 !important; text-align: center; height: 40px; display: flex; align-items: center; justify-content: center; padding: 10px;" class="container">
            <p>&copy; 2024 ShareBlast. All rights reserved.</p>
        </div>
    </footer>

    <script src="/static/js/main.js"></script>
</body>
</html>