<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
	    <title>ShareBlast - Supercharge Your Social Media Giveaways</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/login.css">
	</head>
	<body>
	  <div class="container">
		<div class="logo">ShareBlast</div>
		<h1>Login</h1>
		<form action="{{ url_for('auth.login') }}" method="GET">
		  <label for="email">Email</label>
		  <input type="email" id="email" name="email" required>

		  <label for="password">Password</label>
		  <input type="password" id="password" name="password" required>

		  <button type="submit">Log In</button>
		</form>
		<div class="links">
		  <!--- <a href="{{ url_for('auth.f') }}">Forgot Password?</a> --->
		  <a href="{{ url_for('auth.register') }}">Sign Up</a>
		</div>
	  </div>

	  <script script src="/static/js/login.js"></script>

	</body>
</html>