<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareBlast - Sign Up (Publisher)</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body style="background-color: #4341ec;">
	<header>
		<div style="background-color: #7f0fe8 !important; text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; padding: 10px;" class="menu">
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large;" href="/ShareBlast/templates/">Home</a>
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large" href="/ShareBlast/templates/login.html">Login</a>
			<a style="color: aliceblue; margin-right: 10px; font-size: xx-large" href="/ShareBlast/templates/signup_user.html">Sign Up (User)</a>
		</div>
	</header>

    <main>
        <div class="container">
            <h1 class="text-center fade-in">Sign Up as a Publisher</h1>
            <form id="signup-publisher-form" class="form fade-in">
                <label for="company-name">Company Name:</label>
                <input type="text" id="company-name" name="company-name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>

                <button type="submit" class="btn mt-1">Sign Up</button>
            </form>
        </div>
    </main>

    <footer>
        <div style="background-color: #7f0fe8 !important; text-align: center; height: 80px; display: flex; align-items: center; justify-content: center; padding: 10px;" class="container">
            <p>&copy; 2024 ShareBlast. All rights reserved.</p>
        </div>
    </footer>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/signup.js"></script>
</body>
</html>